body {
  background-color: #fef6ec;
  background-image: url('../images/mutt-paper-a.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: temeraire, sans-serif;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: temeraire, sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: temeraire, sans-serif;
  color: #2b656c;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: temeraire, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

a {
  display: block;
  font-family: temeraire, sans-serif;
  color: #0c1c2a;
  font-weight: 900;
  text-decoration: underline;
}

.muttlogo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9;
  width: 20rem;
}

.muttlogowrap {
  width: 24rem;
}

.muttlogowrap.w--current {
  display: block;
}

.mutthero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 72vh;
  min-height: 36rem;
  padding-left: 12vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}

.introcopy {
  max-width: 22em;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4vw;
  font-family: Poppins, sans-serif;
  color: #0c1c2a;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.125px;
}

.introcopy.second {
  margin-left: 16vw;
}

.orange {
  color: #f0582c;
  font-weight: 600;
}

.yellow {
  color: #f2a33a;
  font-weight: 600;
}

.teal {
  color: #2b656c;
  font-weight: 600;
}

.heroblobs {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -88%;
  z-index: 1;
  width: 48vw;
  max-width: 32rem;
}

.typewriter {
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

.intro {
  position: relative;
  overflow: hidden;
  padding: 4rem 12vw 4rem 8vw;
  background-color: #fef6ec;
}

.curvetop {
  width: 100%;
  margin-bottom: -1rem;
}

.curvebot {
  width: 100%;
  margin-top: -1rem;
}

.mantra {
  margin-left: 8vw;
  font-family: temeraire, sans-serif;
  font-weight: 900;
}

.breed {
  color: #2b656c;
}

.dota {
  position: absolute;
  left: auto;
  top: 16%;
  right: 32%;
  bottom: auto;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #2b656c;
}

.dotb {
  position: absolute;
  left: 4%;
  top: 40%;
  right: auto;
  bottom: 0%;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #fcd39b;
}

.dotc {
  position: absolute;
  left: -2%;
  top: 48%;
  right: auto;
  bottom: 0%;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #f2a33a;
}

.dotd {
  position: absolute;
  left: auto;
  top: 56%;
  right: 8%;
  bottom: auto;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: #f0582c;
}

.pack {
  position: relative;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fef6ec;
}

.grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.headshotally {
  position: relative;
}

.headshotadam {
  position: relative;
}

.pically {
  position: absolute;
  left: 8%;
  top: 40%;
  right: auto;
  bottom: 0%;
  z-index: 1;
  width: 36%;
}

.picadam {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 24rem;
}

.overlayally {
  position: absolute;
  left: 0%;
  top: 22%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 28rem;
}

.overlayadam {
  position: absolute;
  left: 8rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  z-index: 2;
  width: 20rem;
}

.bgally {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.bgadam {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.bioally {
  margin-top: 2rem;
  padding-right: 8vw;
  padding-left: 12vw;
}

.bioadam {
  margin-top: -2rem;
  padding-right: 8vw;
  padding-left: 8vw;
}

.imgally {
  position: absolute;
}

.packheader {
  position: relative;
  width: 100%;
}

.packheaderpic {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.image {
  position: absolute;
  left: auto;
  top: 16%;
  right: 12%;
  bottom: 0%;
  width: 36%;
}

.biocols {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bioname {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 900;
}

.biotitle {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.biocopy {
  max-width: 24em;
  font-size: 1em;
  font-weight: 300;
}

.biolink {
  width: 8rem;
  margin-top: 1rem;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.biolink:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.partners {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.partnersheader {
  max-width: 16em;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0c1c2a;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
}

.partnerheader {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  text-align: center;
}

.partnerheader.barkbox {
  color: #2b656c;
  font-weight: 700;
}

.partnerheader.barkbox:hover {
  color: #f2a33a;
}

.partnerheader.draftkings {
  color: #f0582c;
}

.partnerheader.draftkings:hover {
  color: #0c1c2a;
}

.partnerheader.helloflo {
  color: #f2a33a;
  font-style: italic;
  font-weight: 400;
}

.partnerheader.helloflo:hover {
  color: #f0582c;
}

.partnerheader.panda {
  color: #0c1c2a;
  font-weight: 400;
}

.partnerheader.panda:hover {
  color: #f0582c;
}

.partnerheader.polaroid {
  color: #2b656c;
  font-weight: 900;
}

.partnerheader.polaroid:hover {
  color: #f2a33a;
}

.partnercol {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.partnercol.second {
  padding-right: 8rem;
  padding-left: 8rem;
}

.contact {
  position: relative;
  overflow: hidden;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.contactheader {
  color: #0c1c2a;
  font-weight: 400;
}

.contactmax {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #2b656c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
}

.contactmax:hover {
  color: #f2a33a;
}

.contactwrap {
  padding-right: 8vw;
  padding-left: 8vw;
}

.contactlink {
  text-decoration: none;
}

.dote {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: 8%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #2b656c;
}

.dotf {
  position: absolute;
  right: 12%;
  bottom: 4%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #f0582c;
}

.dotg {
  position: absolute;
  left: 4%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #f2a33a;
}

.doth {
  position: absolute;
  left: 16%;
  top: auto;
  right: auto;
  bottom: -8%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #2b656c;
}

.doti {
  position: absolute;
  left: auto;
  top: 4%;
  right: 8%;
  bottom: auto;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #f0582c;
}

.dotj {
  position: absolute;
  right: -4%;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: #0c1c2a;
}

.dotk {
  position: absolute;
  left: 4%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #f2a33a;
}

.footerbg {
  width: 100%;
}

.partnerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
  .mutthero {
    padding-left: 8vw;
  }
  .heroblobs {
    bottom: -64%;
  }
  .intro {
    padding-top: 8rem;
  }
  .partnerheader {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-attachment: scroll;
  }
  h1 {
    font-size: 2rem;
  }
  .muttlogo {
    width: 16rem;
  }
  .mutthero {
    height: auto;
    min-height: 24rem;
    background-image: none;
  }
  .heroblobs {
    bottom: -44%;
    width: 32vw;
  }
  .intro {
    padding-top: 4rem;
  }
  .curvetop {
    display: none;
  }
  .curvebot {
    position: relative;
    z-index: 1;
    display: none;
    margin-bottom: -10rem;
  }
  .mantra {
    max-width: 12em;
  }
  .dota {
    top: 8%;
  }
  .partners {
    padding-top: 4rem;
    background-image: url('../images/mutt-paper-a.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
  .partnersheader {
    font-size: 1.5rem;
  }
  .partnerheader {
    font-size: 1.5rem;
  }
  .partnercol.second {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .contact {
    background-image: url('../images/mutt-paper-a.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
  .contactheader {
    font-size: 2rem;
  }
  .contactmax {
    font-size: 1.5rem;
  }
  .footerbg {
    background-image: url('../images/mutt-paper-a.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 14px;
  }
  .muttlogo {
    width: 12rem;
  }
  .mutthero {
    height: 56vh;
    background-image: none;
  }
  .introcopy {
    font-size: 1.2rem;
  }
  .heroblobs {
    bottom: -44%;
    width: 56vw;
  }
  .intro {
    padding-top: 4rem;
  }
  .curvetop {
    display: block;
    margin-bottom: -0.5rem;
  }
  .curvebot {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: -5rem;
  }
  .mantra {
    font-size: 2.25rem;
  }
  .dota {
    top: 8%;
  }
  .dotb {
    top: 40%;
  }
  .dotc {
    left: -4%;
  }
  .dotd {
    top: 44%;
    right: 8%;
  }
  .bioally {
    margin-top: 0rem;
  }
  .bioadam {
    margin-top: 4rem;
    text-align: right;
  }
  .partners {
    padding-top: 6rem;
  }
  .partnersheader {
    font-size: 1rem;
  }
  .partnerheader {
    font-size: 1rem;
  }
  .contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contactheader {
    max-width: 8em;
    font-size: 1.5rem;
  }
  .contactmax {
    font-size: 1.125rem;
  }
  .dote {
    left: 4%;
    right: auto;
  }
  .dotf {
    left: 16%;
    right: auto;
  }
  .dotg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .doth {
    left: 24%;
    bottom: -12%;
  }
  .dotj {
    right: -16%;
  }
}

